---
layout: report
tags: reports
title: sandstein.de
language: en
evaluation:
  evaluator: Steffi
  commissioner: Sandstein GmbH
  target: WCAG 2.1, Level AA
  targetLevel: AA
  targetWcagVersion: 2.1
  date: May 26, 2021
  special requirements: Please also list accessibility problems that are not conformance failures
scope:
  - All pages on sandstein.de
out_of_scope:
  - Referenzen
  - Team
baseline: 
  - Microsoft Edge (last 3 versions) 
  - Mozilla Firefox (last 3 versions) 
  - Google Chrome (last 3 versions) 
  - Apple Safari (last 3 versions)
  - Apple Safari on iOS
  - common assistive technologies
technologies: 
  - HTML
  - CSS
  - JavaScript
  - WAI-ARIA
sample:
  - title: Startseite
    id: homepage
    url: https://www.sandstein.de
    description: The homepage of Example Company.
  - title: Kontaktformular
    id: contact
    url: https://www.sandstein.de/kontaktformular/info/
    description: An example of a contactform
---